{% extends "templates/layout-govuk.html" %}

{% block page_title %}
Log in and file your self assessment tax return
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="#">Home</a></li>
      <li><a href="#">Housing and local services</a></li>
      <li><a href="#">Local councils and services</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Find your local council
      </h1>

      <!-- <div class="banner">
        <h2>Would you like to help make GOV.UK better?</h2>
        <p>If you’d like to help us improve GOV.UK and the services we provide, you can apply to join our user research panel.<br><br><a href="index" class="" data-featherlight="">Find out more</a><a href="">I'm not interested</a></p>


      </div> -->
      <div class="article-container group">


        <div class="content-block">
          <div class="inner">

            <p>Find the contact details and website for your local council.</p>

            <p id="get-started" class="get-started group">
              <a href="http://local.direct.gov.uk/LDGRedirect/Start.do?mode=1" rel="external" data-transaction-slug="find-your-local-council" class="button button-start" target="_blank" role="button">Start now</a>
              <span class="destination" style="font-size:14px"> <br>on the local council directory</span>
            </p>

<!-- <a class="button button-start" href="#" role="button">Start now</a> -->
            <div class="panel panel-border-wide">
              <p>Help make GOV.UK better. <a href="index">Join our research community.</a></p>
            </div>
          </div>
        </div>
        <div class="meta-data group">
          <p class="modified-date">Last updated: 24 August 2015</p>
        </div>



      </div>


    </div>

    <div class="column-third">

      <div class="related-links">
        <h2 class="heading-medium">Local councils and services</h2>

        <ul class="font-xsmall">
          <li><a href="#">Understand how your council works</a></li>
          <li class="related-topic"><a href="/browse/tax/self-assessment">More <span class="visuallyhidden">in Self Assessment</span></a></li>
        </ul>
      </div>

      <div class="related-links">
        <h2 class="heading-medium">Housing and local services</h2>

        <ul class="font-xsmall">
          <li><a href="#">Council tax</a></li>
          <li><a href="#">Council housing</a></li>
          <li class="related-topic"><a href="/browse/tax/self-assessment">More <span class="visuallyhidden">in Self Assessment</span></a></li>
        </ul>
      </div>

        <!-- <div class="banner banner__side">
          <h2>Would you like to help make GOV.UK better?</h2>
          <p>

            <a href="index" class="" data-featherlight="">Find out more</a>

          </p>


        </div> -->

      </div>

    </div>

  </main>

  {% endblock %}
