{% extends "templates/layout-service.html" %}

{% block body_classes %}version-7{% endblock %}

{% block page_title %}
Terms and conditions
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">
			<p class="form-navigation">
				<a class="back-to-previous" href="declaration">
					Back
					<span class="visuallyhidden"> to the previous question.</span>
				</a>

			</p>

			<h1 class="heading-large">Terms and conditions</h1>
			<p>By signing up to the GOV.UK user research panel, you agree:</p>
			<ul class="list list-bullet">
				<li>that you are who you say you are (you may be required to bring ID to research sessions)</li>
				<li>that you are 18 years or older</li>
				<li>that you will not create more than one GOV.UK user research panel account</li>
				<li>that you observe any conditions set regarding previous participation in research</li>
				<li>that you are honest about the information you share</li>
				<li>that you will arrive on time to a research session you agree to attend
				</li>
				<li>that you will pay tax as necessary on any incentive you receive, and that GOV.UK has no obligation in respect of any personal tax due on any incentive you may receive</li>
			</ul>

			<p>As a GOV.UK panel participant, you understand that:
			</p>
			<ul class="list list-bullet">
				<li>joining the GOV.UK user research panel does not guarantee that you will be selected for research participation</li>
				<li>participating in a research session does not guarantee any payment, unless previously agreed</li>
				<li>if you participate in a face to face research session, immediately prior to taking part in the session you’ll be asked to sign a form that consents to the recording and observation of the research session and confirms receipt of any agreed incentive.
				</li>
			</ul>

			<p>In return, GOV.UK user research agrees to:</p>
			<ul class="list list-bullet">
				<li>as far as possible, invite you to take part in appropriate research activities in line with the data you share</li>
				<li>make sure you receive any agreed incentives within 2 weeks of any remote research participation</li>
				<li>make sure you receive any agreed incentive on the spot when a research session is conducted in person</li>
			</ul>

			<p>GOV.UK reserves the right to cancel your participation in the panel and any incentives due to you if you do not comply with these Terms of Participation.</p>

			<div class="form-group">
				<a href="declaration" class="button">Back</a>
			</div>
		</div>

	</div>

	

</main>

{% endblock %}


