{{<layout-question}}

{{$pageTitle}}
  What sector or industry do you work in?
{{/pageTitle}}

{{$questionNumber}}14{{/questionNumber}}
{{$prevURL}}employment{{/prevURL}}
{{$nextURL}}employment-job-title{{/nextURL}}

{{$questionContent}}

	<div class="form-group">
		<p class="form-hint">For example, education, government or technology</p>
	    <div class="form-group">
	      <label class="form-label visuallyhidden" for="employment-sector">
	      	Enter text
	      </label>
	    	<input type="text" class="form-control" id="employment-sector"> 
	    </div>
	</div>

{{/questionContent}}

{{/layout-question}}

