{{<question_template-1}}

{{$pageTitle}}
  What is your employment situation?
{{/pageTitle}}

{{$questionNumber}}13{{/questionNumber}}
{{$prevURL}}children-under-18{{/prevURL}}
{{$nextURL}}confirmation{{/nextURL}}

{{$questionContent}}

	<div class="form-group">
		<p class="form-hint">Select all that apply:</p>
	    <div class="form-group">
	      <label class="block-label" for="employment-1">
	    	<input type="checkbox" id="employment-1" name="employment-1"> 
	      	Employed part time
	      </label>
	      <label class="block-label" for="employment-2">
	      	<input type="checkbox" id="employment-2" name="employment-2"> 
	      	Employed full time
	      </label>
	      <label class="block-label" for="employment-3">
	      	<input type="checkbox" id="employment-3" name="employment-3"> 
	      	Self-employed
	      </label>
	      <label class="block-label" for="employment-4">
	      	<input type="checkbox" id="employment-4" name="employment-4"> 
	      	Unemployed
	      </label>
	      <label class="block-label" for="employment-5">
	      	<input type="checkbox" id="employment-5" name="employment-5"> 
	      	Retired
	      </label>
	      <label class="block-label" for="employment-6">
	      	<input type="checkbox" id="employment-6" name="employment-6"> 
	      	Student
	      </label>
	      <label class="block-label" for="employment-7">
	      	<input type="checkbox" id="employment-7" name="employment-7"> 
	      	Prefer not to say
	      </label>
	    </div>
	</div>

{{/questionContent}}

{{/question_template-1}}

