{{<question_template-1}}

{{$pageTitle}}
  Is English your first language?
{{/pageTitle}}

{{$questionNumber}}8{{/questionNumber}}
{{$prevURL}}country-live{{/prevURL}}
{{$nextURL}}speak-english{{/nextURL}}

{{$questionContent}}

 	<div class="form-group">
		<p class="form-hint">Select one:</p>
	    <div class="form-group">
	    	<input type="radio" id="english-yes" name="english" value="english-yes"> 
	      <label class="form-label form-control-radio" for="english-yes">
	      	Yes
	      </label>
	      <input type="radio" id="english-no" name="english" value="english-no"> 
	      <label class="form-label form-control-radio" for="english-no">
	      	No
	      </label>
	    </div>
	</div>

{{/questionContent}}

{{/question_template-1}}