// Import GOV.UK elements, this will import the frontend toolkit and some base styles.

@import 'elements';

// Import modules specific to this service

@import "modules/search-and-breadcrumb";
@import "modules/form-navigation";
@import "modules/other-specify";
@import "modules/auto-suggest";


.apply-2{
	@import "modules/shame";
	@import "modules/for-elements";
	@import "modules/radios-and-checkboxes";
}

.apply-1 .or{ 
  float: left;
  clear: left;
  padding: 15px 0 0 0;
}