// Import GOV.UK elements, this will import the frontend toolkit and some base styles.

@import 'elements';

// Import modules specific to this service

@import "modules/search-and-breadcrumb";
@import "modules/form-navigation";
@import "modules/other-specify";
@import "modules/auto-suggest";


.version-2,
.version-3{
	@import "modules/shame";
	@import "modules/for-elements";
	@import "modules/radios-and-checkboxes";
}

.version-1 .or{ 
  float: left;
  clear: left;
  padding: 15px 0 0 0;
}

.version-3{
	.question-number{
		display: none;
	}
}


.prototype-meta{
	@extend %contain-floats;
	margin-bottom: $gutter;
	dt{
		float: left;
		width: 10%;
	}
	dd{
		float: left;
		width: 90%
	}
}

.prototype-list{
	.title{
		width: 33.33%;
	}
	.date{
		width: 33.33%;
	}
	.notes{
		width: 33.33%;
	}
	td{
		padding-top: 15px;
		vertical-align: top;
	}
}