{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">

			<p class="form-navigation">
				{% if previous_url %}
				<a class="back-to-previous" href="{% block previous_url %}{% endblock %}">Back <span class="visuallyhidden"> to the previous question.</span></a>
				{% endif %}
				{% if question_number %}<span class="question-number">Question {% block question_number %}{% endblock %} of 5</span>{% endif %}
				
			</p>

			<h1 class="heading-large">{% block page_title %}{% endblock %}</h1>

			<form action="{% block next_url %}{% endblock %}" method="get" class="form">

				{% block question_content %}
				{% endblock %}

			    <div class="form-group">
			      <input type="submit" class="button" value="{% block continue_button_text %}Continue{% endblock %}">
			    </div>

			</form>

		</div>
	</div>

</main>

{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}

{% block footer_support_links %}
  <ul>
    <li>
      <a href="/prototype-admin/clear-data">Clear data</a>
    </li>
  </ul>
{% endblock %}
