{{<templates/layout-question}}

{{$pageTitle}}
  Which country were you born in?
{{/pageTitle}}

{{$questionNumber}}3{{/questionNumber}}
{{$prevURL}}country-live{{/prevURL}}
{{$nextURL}}speak-english{{/nextURL}}

{{$questionContent}}

 	<div class="form-group">
	    <div class="form-group">
	      <label class="form-label" for="country-born">
	      	Enter a country
	      </label>
	      <input type="text" class="form-control" id="country-born" name="gender"> 
	    </div>
	</div>

{{/questionContent}}

{{/templates/layout-question}}