{% extends "templates/layout-question.html" %}

{% block page_title %}
  Which country were you born in?
{% endblock %}

{% block question_number %}3{% endblock %}
{% block previous_url %}country-live{% endblock %}
{% block next_url %}speak-english{% endblock %}

{% block question_content %}

 	<div class="form-group">
	    <div class="form-group">
	      <label class="form-label" for="country-born">
	      	Enter a country
	      </label>
	      <input type="text" class="form-control" id="country-born" name="gender"> 
	    </div>
	</div>

{% endblock %}

