{% extends "templates/layout-question.html" %}

{% block body_classes %}version-2{% endblock %}

{% block page_title %}
  Do you have any children under the age of 18 living in your household?
{% endblock %}

{% block question_number %}11{% endblock %}
{% block previous_url %}housing{% endblock %}
{% block next_url %}children-under-18{% endblock %}

{% block question_content %}

  	<div class="form-group">
		<p class="form-hint">Select one:</p>
	    <div class="form-group">
	    	<input type="radio" id="children-under-18-yes" name="children-under-18" value="children-under-18-yes"> 
	      <label class="form-label form-control-radio" for="children-under-18-yes">
	      	Yes
	      </label>
	      <input type="radio" id="children-under-18-no" name="children-under-18" value="children-under-18-no"> 
	      <label class="form-label form-control-radio" for="children-under-18-no">
	      	No
	      </label>
	    </div>
	</div>

{% endblock %}



