{{<templates/layout-question}}

{{$bodyClasses}}version-2{{/bodyClasses}}

{{$pageTitle}}
  How can we contact you?
{{/pageTitle}}

{{$questionNumber}}2{{/questionNumber}}
{{$prevURL}}age{{/prevURL}}
{{$nextURL}}use-devices{{/nextURL}}

{{$questionContent}}

 <p class="text">We’ll only use this information to contact you with research opportunities relevant to you. We won’t share it with <br>anyone else
  and you can leave the panel at any time.</p>

  <div class="form-group">
      <label class="form-label" for="full-name">Full name</label>
      <input type="text" class="form-control form-control-1-1" id="full-name">
    </div>

    <div class="form-group">
      <label class="form-label" for="email">Email address</label>
      <input type="text" class="form-control form-control-1-1" id="email">
    </div>

    <div class="form-group">
      <label class="form-label" for="tel">Home or mobile phone number</label>
      <input type="text" class="form-control form-control-1-3" id="tel">
    </div>

{{/questionContent}}

{{/templates/layout-question}}
