{% extends "templates/layout-question.html" %}

{% block body_classes %}version-2{% endblock %}

{% block page_title %}
  What is your gender?
{% endblock %}

{% block question_number %}6{% endblock %}
{% block previous_url %}internet-adjustments{% endblock %}
{% block next_url %}country-live{% endblock %}

{% block question_content %}

	<div class="form-group">
		<p class="form-hint">Select one:</p>
	    <div class="form-group">
	    	<input type="radio" id="gender-female" name="gender"> 
	      <label class="form-label form-control-radio" for="gender-female">
	      	female
	      </label>
	      <input type="radio" id="gender-male" name="gender"> 
	      <label class="form-label form-control-radio" for="gender-male">
	      	male
	      </label>
	      <input type="radio" id="gender-unspecified" name="gender"> 
	      <label class="form-label form-control-radio" for="gender-unspecified">
	      	unspecified
	      </label>
	      <input type="radio" id="gender-prefer-not-to-say" name="gender"> 
	      <label class="form-label form-control-radio" for="gender-prefer-not-to-say">
	      	prefer not to say
	      </label>
	    </div>
	</div>

{% endblock %}

