{% extends "templates/layout-question.html" %}

{% block body_classes %}version-2{% endblock %}

{% block page_title %}
  What adjustments do you make to help you use the internet?
{% endblock %}

{% block question_number %}5{% endblock %}
{% block previous_url %}access-internet{% endblock %}
{% block next_url %}gender{% endblock %}

{% block question_content %}

	<div class="form-group">
		<p class="form-hint">Select all that apply:</p>
	    <div class="form-group">
		<input type="checkbox" id="access-internet-1"> 
	      <label class="form-label form-control-checkbox" for="access-internet-1">
		Wear glasses
	      </label>
	      <input type="checkbox" id="access-internet-2"> 
	      <label class="form-label form-control-checkbox" for="access-internet-2">
		Screen reader
	      </label>
	      <input type="checkbox" id="access-internet-3"> 
	      <label class="form-label form-control-checkbox" for="access-internet-3">
		Large print
	      </label>
	      <input type="checkbox" id="access-internet-7"> 
	      <label class="form-label form-control-checkbox" for="access-internet-7">
		Tinted glasses
	      </label>
	      <input type="checkbox" id="access-internet-4"> 
	      <label class="form-label form-control-checkbox" for="access-internet-4">
		Hearing aid
	      </label>
	      <input type="checkbox" id="access-internet-5"> 
	      <label class="form-label form-control-checkbox" for="access-internet-5">
		Induction loop
	      </label>
	      <input type="checkbox" id="access-internet-6"> 
	      <label class="form-label form-control-checkbox" for="access-internet-6">
		Other:
	      </label>

	      <label class="visuallyhidden" for="other">Please specify</label>
	      <input class="form-control other-specify" type="text" id="other">
	 
	      <input type="checkbox" id="access-internet-7"> 
	      	<label class="form-label form-control-checkbox" for="access-internet-7">
	      	None of the above
	      </label>


	    </div>
	</div>

{% endblock %}




