{% extends "templates/layout-question.html" %}

{% block body_classes %}version-2{% endblock %}

{% block page_title %}
  Is English your first language?
{% endblock %}

{% block question_number %}8{% endblock %}
{% block previous_url %}country-live{% endblock %}
{% block next_url %}speak-english{% endblock %}

{% block question_content %}

 	<div class="form-group">
		<p class="form-hint">Select one:</p>
	    <div class="form-group">
	    	<input type="radio" id="english-yes" name="english" value="english-yes"> 
	      <label class="form-label form-control-radio" for="english-yes">
	      	Yes
	      </label>
	      <input type="radio" id="english-no" name="english" value="english-no"> 
	      <label class="form-label form-control-radio" for="english-no">
	      	No
	      </label>
	    </div>
	</div>

{% endblock %}

