{{<templates/layout-question}}

{{$bodyClasses}}version-2{{/bodyClasses}}

{{$pageTitle}}
  How confident are you in reading and writing in English on government websites?
{{/pageTitle}}

{{$questionNumber}}9{{/questionNumber}}
{{$prevURL}}speak-english{{/prevURL}}
{{$nextURL}}housing{{/nextURL}}

{{$questionContent}}

 	<div class="form-group">
		<p class="form-hint">Select one:</p>
	    <div class="form-group">
	    	<input type="radio" id="english-fluent" name="english"> 
	      <label class="form-label form-control-radio" for="english-fluent">
	      	I am fluent in English and can easily understand government websites
	      </label>
	      <input type="radio" id="english-need-help" name="english"> 
	      <label class="form-label form-control-radio" for="english-need-help">
	      	I often need help in using government websites written in English
	      </label>
	    </div>
	</div>

{{/questionContent}}

{{/templates/layout-question}}