{{<templates/layout-question}}

{{$pageTitle}}
  Where do you normally access the internet?
{{/pageTitle}}

{{$questionNumber}}4{{/questionNumber}}
{{$prevURL}}use-devices{{/prevURL}}
{{$nextURL}}internet-adjustments{{/nextURL}}

{{$questionContent}}

 	<div class="form-group">
		<p class="form-hint">Select all that apply:</p>
	    <div class="form-group">
	      <label class="block-label" for="access-internet-1">
	    	<input type="checkbox" id="access-internet-1"> 
	      	Home
	      </label>
	      <label class="block-label" for="access-internet-2">
	      	<input type="checkbox" id="access-internet-2"> 
	      	Work
	      </label>
	      <label class="block-label" for="access-internet-3">
	      	<input type="checkbox" id="access-internet-3"> 
	      	School or university
	      </label>
	      <label class="block-label" for="access-internet-4">
	      	<input type="checkbox" id="access-internet-4"> 
	      	Public place (eg. library or cafe)
	      </label>
	      <label class="block-label" for="access-internet-5">
	      	<input type="checkbox" id="access-internet-5"> 
	      	Family or friend's house
	      </label>
	      <label class="block-label" for="access-internet-6">
	      	<input type="checkbox" id="access-internet-6"> 
	      	Mobile (out and about)
	      </label>
	      <label class="block-label" for="access-internet-7">
	      	<input type="checkbox" id="access-internet-7" class="js-toggle" data-toggle="#other"> 
	      	Other (please specify)
	      </label>
	      

	   	<div class="form-group js-hidden panel-indent" id="other">   		
	      <label class="form-label" for="other">Please specify</label>
	      <input class="form-control other-specify" type="text" id="other">
	    </div>
	      
	    </div>
	</div>

{{/questionContent}}

{{/templates/layout-question}}

