{{<templates/layout-question}}

{{$bodyClasses}}version-1{{/bodyClasses}}

{{$pageTitle}}
	Are you 16 or over?
{{/pageTitle}}

{{$questionNumber}}1{{/questionNumber}}
{{$prevURL}}/version-1/{{/prevURL}}
{{$nextURL}}age{{/nextURL}}

{{$questionContent}}

  <div class="form-group">
      <div class="form-group inline">

        <label class="block-label" for="age16-1">
          <input type="radio" id="age16-1" name="age16" value="age16-1"> 
          Yes
        </label>

        <label class="block-label" for="age16-2">
          <input type="radio" id="age16-2" name="age16" value="age16-2"> 
          No
        </label>
        
      </div>
  </div>

{{/questionContent}}

{{/templates/layout-question}}
