{% extends "templates/layout-question.html" %}

{% block body_classes %}version-1{% endblock %}

{% block page_title %}
	Are you 16 or over?
{% endblock %}

{% block question_number %}1{% endblock %}
{% block previous_url %}/version-1/{% endblock %}
{% block next_url %}age{% endblock %}

{% block question_content %}

  <div class="form-group">
      <div class="form-group inline">

        <label class="block-label" for="age16-1">
          <input type="radio" id="age16-1" name="age16" value="age16-1"> 
          Yes
        </label>

        <label class="block-label" for="age16-2">
          <input type="radio" id="age16-2" name="age16" value="age16-2"> 
          No
        </label>
        
      </div>
  </div>

{% endblock %}


