{{<templates/layout-question}}

{{$bodyClasses}}version-1{{/bodyClasses}}

{{$pageTitle}}
  Do you have any children under the age of 18 living in your household?
{{/pageTitle}}

{{$questionNumber}}11{{/questionNumber}}
{{$prevURL}}housing{{/prevURL}}
{{$nextURL}}children-under-18{{/nextURL}}

{{$questionContent}}

  	<div class="form-group">
	    <div class="form-group inline"> 
	      <label class="block-label" for="children-under-18-yes">
	    	<input type="radio" id="children-under-18-yes" name="children-under-18" value="children-under-18-yes">
	      	Yes
	      </label>
	      <label class="block-label" for="children-under-18-no">
	      	<input type="radio" id="children-under-18-no" name="children-under-18" value="children-under-18-no"> 
	      	No
	      </label>
	    </div>
	</div>

{{/questionContent}}

{{/templates/layout-question}}

