{% extends "templates/layout-question.html" %}

{% block body_classes %}version-1{% endblock %}

{% block page_title %}
  How old are the children in your household?
{% endblock %}

{% block question_number %}12{% endblock %}
{% block previous_url %}children-under-18{% endblock %}
{% block next_url %}employment{% endblock %}

{% block question_content %}

	<div class="form-group">
		<p class="form-hint">Select all that apply:</p>
	    <div class="form-group">
	      <label class="block-label" for="age-1">
	    	<input type="checkbox" id="age-1"> 
	      	under 5 years old
	      </label>
	      <label class="block-label" for="age-2">
	      <input type="checkbox" id="age-2"> 
	      	5 - 11 years old
	      </label>
	      <label class="block-label" for="age-3">
	      <input type="checkbox" id="age-3"> 
	      	12 - 18 years old
	      </label>
	    </div>
	</div>

{% endblock %}


