{{<templates/layout-question}}

{{$bodyClasses}}version-1{{/bodyClasses}}

{{$pageTitle}}
  Before you start
{{/pageTitle}}

{{$prevURL}}contact-details{{/prevURL}}
{{$nextURL}}gender{{/nextURL}}

{{$questionContent}}

	<p class="text">
		In order to find research most relevant to you, we'll ask you some questions about you, your home, your family life and work.
	</p>

	<p class="text">
		You don't have to answer all of these questions, and the information you provide will be used only for research purposes by the Government Digital Service’s research team.
	</p>

{{/questionContent}}

{{/templates/layout-question}}