{% extends "templates/layout-question.html" %}

{% block body_classes %}version-1{% endblock %}

{% block page_title %}
  Before you start
{% endblock %}

{% block previous_url %}contact-details{% endblock %}
{% block next_url %}gender{% endblock %}

{% block question_content %}

	<p class="text">
		In order to find research most relevant to you, we'll ask you some questions about you, your home, your family life and work.
	</p>

	<p class="text">
		You don't have to answer all of these questions, and the information you provide will be used only for research purposes by the Government Digital Service’s research team.
	</p>

{% endblock %}

