{% extends "templates/layout-question.html" %}

{% block body_classes %}version-1{% endblock %}

{% block page_title %}
  What sector or industry do you work in?
{% endblock %}

{% block question_number %}14{% endblock %}
{% block previous_url %}employment{% endblock %}
{% block next_url %}employment-job-title{% endblock %}

{% block question_content %}

	<div class="form-group">
		<p class="form-hint">For example, education, government or technology</p>
	    <div class="form-group">
	      <label class="form-label visuallyhidden" for="employment-sector">
	      	Enter text
	      </label>
	    	<input type="text" class="form-control" id="employment-sector"> 
	    </div>
	</div>

{% endblock %}



