{{<templates/layout-question}}

{{$bodyClasses}}version-1{{/bodyClasses}}

{{$pageTitle}}
  What is your gender?
{{/pageTitle}}

{{$questionNumber}}6{{/questionNumber}}
{{$prevURL}}internet-adjustments{{/prevURL}}
{{$nextURL}}country-live{{/nextURL}}

{{$questionContent}}

	<div class="form-group">
		<p class="form-hint">Select one:</p>
	    <div class="form-group">
	      <label class="block-label" for="gender-female">
	    	<input type="radio" id="gender-female" name="gender" value="Female"> 
	      	Female
	      </label>
	      <label class="block-label" for="gender-male">
	      	<input type="radio" id="gender-male" name="gender" value="Male"> 
	      	Male
	      </label>
	      <label class="block-label" for="gender-unspecified">
	      	<input type="radio" id="gender-unspecified" name="gender" value="Unspecified"> 
	      	Unspecified
	      </label>
	      <label class="block-label" for="gender-prefer-not-to-say">
	      	<input type="radio" id="gender-prefer-not-to-say" name="gender" value="prefer-not-to-say"> 
	      	Prefer not to say
	      </label>
	    </div>
	</div>


{{/questionContent}}



{{/templates/layout-question}}