{% extends "templates/layout-question.html" %}

{% block body_classes %}version-1{% endblock %}

{% block page_title %}
  What is your housing situation?
{% endblock %}

{% block question_number %}10{% endblock %}
{% block previous_url %}speak-english-confidence{% endblock %}
{% block next_url %}children-under-18{% endblock %}

{% block question_content %}

 	<div class="form-group">
		<p class="form-hint">Select one:</p>
	    <div class="form-group">
	      <label class="block-label" for="housing-1">
	    	<input type="radio" id="housing-1" name="housing"> 
	      	I own my home
	      </label>
	      <label class="block-label" for="housing-2">
	      <input type="radio" id="housing-2" name="housing"> 
	      	I'm renting a home
	      </label>
	      <label class="block-label" for="housing-3">
	      <input type="radio" id="housing-3" name="housing"> 
	      	I live in a council owned property
	      </label>
	      <label class="block-label" for="housing-4">
	      <input type="radio" id="housing-4" name="housing"> 
	      	I currently live with family or friends
	      </label>
	      <label class="block-label" for="housing-5">
	      <input type="radio" id="housing-5" name="housing"> 
	      	I have no fixed address
	      </label>

	      <label class="block-label" id="other-label" for="housing-6">
	      <input type="radio" id="housing-6" name="housing" class="js-toggle"  data-toggle="#other"> 
	      	Other (please specify)
	      </label>

		   	<div class="form-group js-hidden panel-indent" id="other">   		
		      <label class="form-label" for="other">Please specify</label>
		      <input class="form-control other-specify" type="text" id="other">
		    </div>

		    
	      <p class="or">or</p>

	      <label class="block-label" for="housing-7">
	      <input type="radio" id="housing-7" name="housing" class="js-toggle"  > 
	      	Prefer not to say
	      </label>
	    </div>
	</div>

{% endblock %}


