{{<templates/layout-question}}

{{$bodyClasses}}version-1{{/bodyClasses}}

{{$pageTitle}}
  What adjustments do you make to help you use the internet?
{{/pageTitle}}

{{$questionNumber}}5{{/questionNumber}}
{{$prevURL}}access-internet{{/prevURL}}
{{$nextURL}}gender{{/nextURL}}

{{$questionContent}}

 	<div class="form-group">
		<p class="form-hint">Select all that apply:</p>
	    <div class="form-group">
	      <label class="block-label" for="access-internet-1">
	    	<input type="checkbox" id="access-internet-1"> 
	      	Wear glasses
	      </label>
	      <label class="block-label" for="access-internet-2">
	      <input type="checkbox" id="access-internet-2"> 
	      	Screen reader
	      </label>
	      <label class="block-label" for="access-internet-3">
	      <input type="checkbox" id="access-internet-3"> 
	      	Large print
	      </label>
	      <label class="block-label" for="access-internet-3">
	      <input type="checkbox" id="access-internet-3"> 
	      	Tinted glasses
	      </label>
	      <label class="block-label" for="access-internet-4">
	      <input type="checkbox" id="access-internet-4"> 
	      	Hearing aid
	      </label>
	      <label class="block-label" for="access-internet-5">
	      <input type="checkbox" id="access-internet-5"> 
	      	Induction loop
	      </label>
	      <label class="block-label" for="access-internet-6">
	      <input type="checkbox" id="access-internet-6" class="js-toggle" data-toggle="#other"> 
	      	Other (please specify)
	      </label>

		   	<div class="form-group js-hidden panel-indent" id="other">   		
		      <label class="form-label" for="other">Please specify</label>
		      <input class="form-control other-specify" type="text" id="other">
		    </div>

	      <label class="block-label" for="access-internet-7">
	      <input type="checkbox" id="access-internet-7"> 
	      	None of the above
	      </label>
	      
	    </div>
	</div>

{{/questionContent}}

{{/templates/layout-question}}


