{% extends "templates/layout-question.html" %}

{% block body_classes %}version-1{% endblock %}

{% block page_title %}
  How confident are you in reading and writing in English on government websites?
{% endblock %}

{% block question_number %}9{% endblock %}
{% block previous_url %}speak-english{% endblock %}
{% block next_url %}housing{% endblock %}

{% block question_content %}

 	<div class="form-group">
		<p class="form-hint">Select one:</p>
	    <div class="form-group">
	      <label class="block-label" for="english-fluent">
	    	<input type="radio" id="english-fluent" name="english"> 
	      	I am fluent in English and can easily understand government websites
	      </label>
	      <label class="block-label" for="english-need-help">
	      	<input type="radio" id="english-need-help" name="english"> 
	      	I often need help in using government websites written in English
	      </label>
	    </div>
	</div>

{% endblock %}

