{% extends "templates/layout-question.html" %}

{% block body_classes %}version-3{% endblock %}

{% block page_title %}
  Which country do you live in?
{% endblock %}

{% block question_number %}3{% endblock %}
{% block previous_url %}contact-details{% endblock %}
{% block next_url %}use-govuk{% endblock %}

{% block question_content %}

	<div class="form-group">
	    <div class="form-group">
	      <label class="form-label" for="country-selector">
	      	Enter a country
	      </label>
	      {% include "includes/country_selector.html" %}
	    </div>
	</div>

{% endblock %}


