{{<templates/layout-question}}

{{$bodyClasses}}version-3{{/bodyClasses}}

{{$pageTitle}}
  Which country do you live in?
{{/pageTitle}}

{{$questionNumber}}3{{/questionNumber}}
{{$prevURL}}contact-details{{/prevURL}}
{{$nextURL}}use-govuk{{/nextURL}}

{{$questionContent}}

	<div class="form-group">
	    <div class="form-group">
	      <label class="form-label" for="country-selector">
	      	Enter a country
	      </label>
	      {{>includes/country_selector}}
	    </div>
	</div>

{{/questionContent}}

{{/templates/layout-question}}
