{{<question_template}}

{{$pageTitle}}
  Where do you normally access the internet?
{{/pageTitle}}

{{$prevURL}}use-devices{{/prevURL}}
{{$nextURL}}internet-adjustments{{/nextURL}}

{{$questionContent}}

 	<div class="form-group">
		<p class="form-hint">Select all that apply:</p>
	    <div class="form-group">
	    	<input type="checkbox" id="access-internet-1"> 
	      <label class="form-label form-control-checkbox" for="access-internet-1">
	      	Home
	      </label>
	      <input type="checkbox" id="access-internet-2"> 
	      <label class="form-label form-control-checkbox" for="access-internet-2">
	      	Work
	      </label>
	      <input type="checkbox" id="access-internet-3"> 
	      <label class="form-label form-control-checkbox" for="access-internet-3">
	      	School or university
	      </label>
	      <input type="checkbox" id="access-internet-4"> 
	      <label class="form-label form-control-checkbox" for="access-internet-4">
	      	Public place (eg. library or cafe)
	      </label>
	      <input type="checkbox" id="access-internet-5"> 
	      <label class="form-label form-control-checkbox" for="access-internet-5">
	      	Family or friend's house
	      </label>
	      <input type="checkbox" id="access-internet-6"> 
	      <label class="form-label form-control-checkbox" for="access-internet-6">
	      	Mobile (out and about)
	      </label>
	      <input type="checkbox" id="access-internet-7"> 
	      <label class="form-label form-control-checkbox" for="access-internet-7">
	      	Other (please specify)
	      </label>
	    </div>
	</div>

{{/questionContent}}

{{/question_template}}

