{{<question_template}}

{{$pageTitle}}
  How old are the children in your household?
{{/pageTitle}}

{{$questionNumber}}12{{/questionNumber}}
{{$prevURL}}children-under-18{{/prevURL}}
{{$nextURL}}employment{{/nextURL}}

{{$questionContent}}

	<div class="form-group">
		<p class="form-hint">Select all that apply:</p>
	    <div class="form-group">
	    	<input type="checkbox" id="age-1"> 
	      <label class="form-label form-control-checkbox" for="age-1">
	      	under 5 years old
	      </label>
	      <input type="checkbox" id="age-2"> 
	      <label class="form-label form-control-checkbox" for="age-2">
	      	5 - 11 years old
	      </label>
	      <input type="checkbox" id="age-3"> 
	      <label class="form-label form-control-checkbox" for="age-3">
	      	12 - 18 years old
	      </label>
	    </div>
	</div>

{{/questionContent}}

{{/question_template}}
