{{<question_template}}

{{$pageTitle}}
  Do you have any children under the age of 18 living in your household?
{{/pageTitle}}

{{$questionNumber}}8{{/questionNumber}}
{{$prevURL}}marital-status{{/prevURL}}
{{$nextURL}}children-age{{/nextURL}}

{{$questionContent}}

  	<div class="form-group">
		<p class="form-hint">Select one:</p>
	    <div class="form-group">
	    	<input type="radio" id="children-under-18-yes" name="english"> 
	      <label class="form-label form-control-radio" for="children-under-18-yes">
	      	Yes
	      </label>
	      <input type="radio" id="children-under-18-no" name="english"> 
	      <label class="form-label form-control-radio" for="children-under-18-no">
	      	No
	      </label>
	    </div>
	</div>

{{/questionContent}}

{{/question_template}}

