{{<question_template}}

{{$pageTitle}}
  Which country do you live in?
{{/pageTitle}}

{{$questionNumber}}7{{/questionNumber}}
{{$prevURL}}gender{{/prevURL}}
{{$nextURL}}speak-english{{/nextURL}}

{{$questionContent}}

	<div class="form-group">
	    <div class="form-group">
	      <label class="form-label" for="country-live">
	      	Enter a country
	      </label>
	      <input type="text" class="form-control" id="country-live" name="gender"> 
	    </div>
	</div>

{{/questionContent}}

{{/question_template}}
