{{<question_template}}

{{$pageTitle}}
  What is your job title?
{{/pageTitle}}

{{$prevURL}}employment-sector{{/prevURL}}
{{$nextURL}}use-govuk{{/nextURL}}

{{$questionContent}}

 	<div class="form-group">
 		<p class="form-hint">For example, builder, nurse or shop assistant</p>
	    <div class="form-group">
	      <label class="form-label visuallyhidden" for="employment-job-title">
	      	Enter job title
	      </label>
	    	<input type="text" class="form-control" id="employment-job-title"> 
	    </div>
	</div>

{{/questionContent}}

{{/question_template}}
