{{<question_template}}

{{$pageTitle}}
  What is your employment situation?
{{/pageTitle}}

{{$questionNumber}}11{{/questionNumber}}
{{$prevURL}}receive-benefits{{/prevURL}}
{{$nextURL}}employment-sector{{/nextURL}}

{{$questionContent}}

	<div class="form-group">
		<p class="form-hint">Select all that apply:</p>
	    <div class="form-group">
	    	<input type="checkbox" id="employment-1"> 
	      <label class="form-label form-control-checkbox" for="employment-1">
	      	Employed part time
	      </label>
	      <input type="checkbox" id="employment-2"> 
	      <label class="form-label form-control-checkbox" for="employment-2">
	      	Employed full time
	      </label>
	      <input type="checkbox" id="employment-3"> 
	      <label class="form-label form-control-checkbox" for="employment-3">
	      	Self-employed
	      </label>
	      <input type="checkbox" id="employment-4"> 
	      <label class="form-label form-control-checkbox" for="employment-4">
	      	Unemployed
	      </label>
	      <input type="checkbox" id="employment-5"> 
	      <label class="form-label form-control-checkbox" for="employment-5">
	      	Retired
	      </label>
	      <input type="checkbox" id="employment-6"> 
	      <label class="form-label form-control-checkbox" for="employment-6">
	      	Student
	      </label>
	      <input type="checkbox" id="employment-7"> 
	      <label class="form-label form-control-checkbox" for="employment-7">
	      	Prefer not to say
	      </label>
	    </div>
	</div>

{{/questionContent}}

{{/question_template}}

