{{<question_template}}

{{$pageTitle}}
  What is your housing situation?
{{/pageTitle}}

{{$questionNumber}}6{{/questionNumber}}
{{$prevURL}}speak-english-confidence{{/prevURL}}
{{$nextURL}}marital-status{{/nextURL}}

{{$questionContent}}

 	<div class="form-group">
		<p class="form-hint">Select one:</p>
	    <div class="form-group">
	    	<input type="radio" id="housing-1" name="housing"> 
	      <label class="form-label form-control-radio" for="housing-1">
	      	I own my home
	      </label>
	      <input type="radio" id="housing-2" name="housing"> 
	      <label class="form-label form-control-radio" for="housing-2">
	      	I'm renting a home
	      </label>
	      <input type="radio" id="housing-3" name="housing"> 
	      <label class="form-label form-control-radio" for="housing-3">
	      	I live in a council owned property
	      </label>
	      <input type="radio" id="housing-4" name="housing"> 
	      <label class="form-label form-control-radio" for="housing-4">
	      	I currently live with family or friends
	      </label>
	      <input type="radio" id="housing-5" name="housing"> 
	      <label class="form-label form-control-radio" for="housing-5">
	      	I have no fixed address
	      </label>
	      <input type="radio" id="housing-6" name="housing"> 
	      <label class="form-label form-control-radio" for="housing-6">
	      	Other (please specify)
	      </label>
	      <input type="radio" id="housing-7" name="housing"> 
	      <label class="form-label form-control-radio" for="housing-7">
	      	Prefer not to say
	      </label>
	    </div>
	</div>

{{/questionContent}}

{{/question_template}}
