{{<question_template}}

{{$pageTitle}}
  What is your marital status?
{{/pageTitle}}

{{$prevURL}}housing{{/prevURL}}
{{$nextURL}}children-under-18{{/nextURL}}

{{$questionContent}}

 	<div class="form-group">
		<p class="form-hint">Select one:</p>
	    <div class="form-group">
	    	<input type="radio" id="marital-status-1" name="marital-status"> 
	      <label class="form-label form-control-radio" for="marital-status-1">
	      	Single
	      </label>
	      <input type="radio" id="marital-status-2" name="marital-status"> 
	      <label class="form-label form-control-radio" for="marital-status-2">
	      	Married
	      </label>
	      <input type="radio" id="marital-status-3" name="marital-status"> 
	      <label class="form-label form-control-radio" for="marital-status-3">
	      	Civil partnership
	      </label>
	      <input type="radio" id="marital-status-4" name="marital-status"> 
	      <label class="form-label form-control-radio" for="marital-status-4">
	      	Living with a partner
	      </label>
	      <input type="radio" id="marital-status-5" name="marital-status"> 
	      <label class="form-label form-control-radio" for="marital-status-5">
	      	Separated
	      </label>
	      <input type="radio" id="marital-status-6" name="marital-status"> 
	      <label class="form-label form-control-radio" for="marital-status-6">
	      	Separated but living together
	      </label>
	      <input type="radio" id="marital-status-7" name="marital-status"> 
	      <label class="form-label form-control-radio" for="marital-status-7">
	      	Divorced
	      </label>
	      <input type="radio" id="marital-status-8" name="marital-status"> 
	      <label class="form-label form-control-radio" for="marital-status-8">
	      	Widowed
	      </label>
	      <input type="radio" id="marital-status-9" name="marital-status"> 
	      <label class="form-label form-control-radio" for="marital-status-9">
	      	Other (please specify)
	      </label>
	      <input type="radio" id="marital-status-10" name="marital-status"> 
	      <label class="form-label form-control-radio" for="marital-status-10">
	      	Prefer not to say
	      </label>
	    </div>
	</div>

{{/questionContent}}

{{/question_template}}

