{{<question_template}}

{{$pageTitle}}
  Do you currently receive any government benefits?
{{/pageTitle}}

{{$prevURL}}children-age{{/prevURL}}
{{$nextURL}}employment{{/nextURL}}

{{$questionContent}}

	<p>For example housing benefit or child benefit.</p>

 	<div class="form-group">
		<p class="form-hint">Select one:</p>
	    <div class="form-group">
	    	<input type="radio" id="benefits-1" name="benefits"> 
	      <label class="form-label form-control-radio" for="benefits-1">
	      	Yes
	      </label>
	      <input type="radio" id="benefits-2" name="benefits"> 
	      <label class="form-label form-control-radio" for="benefits-2">
	      	No
	      </label>
	      <input type="radio" id="benefits-3" name="benefits"> 
	      <label class="form-label form-control-radio" for="benefits-3">
	      	Prefer not to say
	      </label>
	    </div>
	</div>

{{/questionContent}}

{{/question_template}}

