{{<question_template}}

{{$pageTitle}}
  Is English your first language?
{{/pageTitle}}

{{$prevURL}}country-born{{/prevURL}}
{{$nextURL}}speak-english-confidence{{/nextURL}}

{{$questionContent}}

 	<div class="form-group">
		<p class="form-hint">Select one:</p>
	    <div class="form-group">
	    	<input type="radio" id="english-yes" name="english"> 
	      <label class="form-label form-control-radio" for="english-yes">
	      	Yes
	      </label>
	      <input type="radio" id="english-no" name="english"> 
	      <label class="form-label form-control-radio" for="english-no">
	      	No
	      </label>
	    </div>
	</div>

{{/questionContent}}

{{/question_template}}