{{<templates/layout-service}}

{{$bodyClasses}}version-4{{/bodyClasses}}

{{$pageTitle}}
	Join the GOV.UK research panel
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<p class="form-navigation">
		<a class="back-to-previous" href="employment">Back <span class="visuallyhidden"> to the previous question.</span></a>
	</p>

	<h1 class="heading-large">Submit your application</h1>

	<p class="text">
		The information you provide will be used only for research purposes by the Government Digital Service’s research team.
	</p>

    <div class="form-group">
      <a href="thank-you" class="button">Submit your application</a>
    </div>


</main>

{{/content}}

{{/templates/layout-service}}
