{{<templates/layout-question}}

{{$bodyClasses}}version-4{{/bodyClasses}}

{{$pageTitle}}
  How often would you prefer to be contacted?
{{/pageTitle}}

{{$questionNumber}}4{{/questionNumber}}
{{$prevURL}}contact-details{{/prevURL}}
{{$nextURL}}research-locations{{/nextURL}}

{{$questionContent}}

	<div class="form-group">
		<p class="form-hint">Select one:</p>
	    <div class="form-group">
	      <label class="block-label" for="how-often-contact-1">
	    	<input type="radio" id="how-often-contact-1" name="how-often-contact-1">
	      	As often as necessary
	      </label>
	      <label class="block-label" for="how-often-contact-2">
	      	<input type="radio" id="how-often-contact-2" name="how-often-contact-2">
	      	About once a month
	      </label>
	      <label class="block-label" for="how-often-contact-3">
	      	<input type="radio" id="how-often-contact-3" name="how-often-contact-3">
	      	About once every 3 months
	      </label>
	    </div>
	</div>

{{/questionContent}}

{{/templates/layout-question}}

