{{<templates/layout-question}}

{{$bodyClasses}}version-4{{/bodyClasses}}

{{$pageTitle}}
  What kinds of research are you willing to take part in?
{{/pageTitle}}

{{$questionNumber}}5{{/questionNumber}}
{{$prevURL}}contact-details{{/prevURL}}
{{$nextURL}}confirmation{{/nextURL}}

{{$questionContent}}

	<div class="form-group">
		<p class="form-hint">Select all that apply:</p>
	    <div class="form-group">
	      <label class="block-label" for="research-locations-1">
	    	<input type="checkbox" id="research-locations-1" name="research-locations-1">
	      	I’m willing to visit a government building in a city near where I live to participate in a study
	      </label>
	      <label class="block-label" for="research-locations-2">
	      	<input type="checkbox" id="research-locations-2" name="research-locations-2">
	      	I’m willing to participate in a study remotely using my computer and phone
	      </label>
	      <label class="block-label" for="research-locations-3">
	      	<input type="checkbox" id="research-locations-3" name="research-locations-3">
	      	I’m willing to have a GOV.UK researcher come visit me
	      </label>
	    </div>
	</div>

{{/questionContent}}

{{/templates/layout-question}}

