{% extends "templates/layout-service.html" %}

{% block body_classes %}version-4{% endblock %}

{% block page_title %}
	Join the GOV.UK research panel
{% endblock %}

{% block content %}

<main id="content" role="main">

	<h1 class="heading-large">Thanks</h1>

	<div class="form-group text">

		<p>We’ve received your information and we will be in touch when research relevant to you is happening.</p>
		<p>We'll email {{email}} when we contact you.</p>
		<p>You can choose to leave the research panel at any time by going to <a href="/">gov.uk/research-panel</a>.</p>

	</div>

    <div class="form-group">
      <a href="/" class="button">Finish</a>
    </div>

</main>

{% endblock %}


