{{<templates/layout-service}}

{{$bodyClasses}}version-4{{/bodyClasses}}

{{$pageTitle}}
	Join the GOV.UK research panel
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-large">Thanks</h1>

	<div class="form-group text">

		<p>We’ve received your information and we will be in touch when research relevant to you is happening.</p>
		<p>You can choose to leave the research panel at any time by going to <a href="/">gov.uk/research-panel</a>.</p>

	</div>

    <div class="form-group">
      <a href="/" class="button">Finish</a>
    </div>

</main>

{{/content}}

{{/templates/layout-service}}
