{% extends "templates/layout-question-post.html" %}

{% block body_classes %}version-7{% endblock %}

{% block page_title %}
What is your date of birth?
{% endblock %}

{% block question_number %}1{% endblock %}
{% block previous_url %}email-confirmed{% endblock %}
{% block page_url %}date-of-birth{% endblock %}
{% block next_url %}gender{% endblock %}

{% block question_content %}

<fieldset class="form-group">
	<legend class="visuallyhidden">Date of birth</legend>
	<div class="form-date">

		<p class="form-hint">For example, 31 3 1980</p>

		<div class="form-group form-group-day">
			<label for="dob-day">Day</label>
			<input class="form-control" id="dob-day" name="dob_day" type="number" pattern="[0-9]*" min="0" max="31">
		</div>

		<div class="form-group form-group-month">
			<label for="dob-month">Month</label>
			<input class="form-control" id="dob-month" name="dob_month" type="number" pattern="[0-9]*" min="0" max="12">
		</div>

		<div class="form-group form-group-year">
			<label for="dob-year">Year</label>
			<input class="form-control" id="dob-year" name="dob_year" type="number" pattern="[0-9]*" min="0" max="2014">
		</div>

	</div>
</fieldset>

{% endblock %}


