{% extends "templates/layout-question-post.html" %}

{% block body_classes %}version-7{% endblock %}

{% block page_title %}
  What is your gender?
{% endblock %}

{% block question_number %}6{% endblock %}
{% block previous_url %}date-of-birth{% endblock %}
{% block next_url %}country{% endblock %}

{% block question_content %}

	<div class="form-group">
		<p class="form-hint">Select one:</p>
	    <div class="form-group">
		<input type="radio" id="gender-female" name="gender" value="Female"> 
	      <label class="form-label form-control-radio" for="gender-female" >
		female
	      </label>
	      <input type="radio" id="gender-male" name="gender" value="Male"> 
	      <label class="form-label form-control-radio" for="gender-male">
		male
	      </label>
	      <input type="radio" id="gender-unspecified" name="gender" value="Unspecified"> 
	      <label class="form-label form-control-radio" for="gender-unspecified">
		unspecified
	      </label>
	    </div>
	</div>

{% endblock %}

