{% extends "templates/layout-govuk.html" %}

{% block body_classes %}version-7{% endblock %}

{% block page_title %}
	Take part in GOV.UK user research
{% endblock %}

{% block previous_url %}/{% endblock %}
{% block next_url %}age{% endblock %}

{% block content %}

<div id="global-breadcrumb" class="header-context">
    <ol role="breadcrumbs" class="group">
		<li><a href="http://gov.uk">Home</a></li>
	</ol>
</div>

<main id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">Take part in user research</h1>

			<p>If you’d like to help us improve GOV.UK and the services we provide, you can help us by taking part in user research.</p>

			<p>As a participant, you’ll play an important part in helping us deliver services that work for the people who need them. </p>

			<p>You must be 16 or older to take part in research.</p>

			{# <p>We’ll contact you no more than once a month to ask you to take part in research and your participation is always voluntary.</p> #}

			<p><a href="/version-7/contact" class="button">Apply now</a></p>

			<p><a href="/version-7/more">Find out more about what's involved</a><p>

		</div>
	</div>



</main>

{% endblock %}


