{% extends "templates/layout-question-post.html" %}

{% block body_classes %}version-7{% endblock %}
{% block page_title %}
Where do you normally access the internet?
{% endblock %}

{% block question_number %}4{% endblock %}
{% block previous_url %}how-often{% endblock %}
{% block next_url %}internet-usage{% endblock %}

{% block question_content %}

<div class="form-group">
	<p class="form-hint">Select all that apply:</p>
	<div class="form-group">
		<input type="checkbox" name="access_internet_1" id="access-internet-1"> 
		<label class="form-label form-control-checkbox" for="access-internet-1">
			Home
		</label>
		<input type="checkbox" name="access_internet_2" id="access-internet-2"> 
		<label class="form-label form-control-checkbox" for="access-internet-2">
			Work
		</label>
		<input type="checkbox" name="access_internet_6" id="access-internet-6"> 
		<label class="form-label form-control-checkbox" for="access-internet-6">
			Mobile (out and about)
		</label>
		<input type="checkbox" name="access_internet_3" id="access-internet-3"> 
		<label class="form-label form-control-checkbox" for="access-internet-3">
			School or university
		</label>
		<input type="checkbox" name="access_internet_4" id="access-internet-4"> 
		<label class="form-label form-control-checkbox" for="access-internet-4">
			Public place (eg. library or cafe)
		</label>
		<input type="checkbox" name="access_internet_5" id="access-internet-5"> 
		<label class="form-label form-control-checkbox" for="access-internet-5">
			Family or friend's house
		</label>
		<input type="checkbox" id="access-internet-7"> 
		<label class="form-label form-control-checkbox" for="access-internet-7">
			Other:
		</label>

		<label class="visuallyhidden" for="other">Please specify</label>
		<input class="form-control other-specify" name="access_internet_7"type="text" id="other">
	</div>
</div>

{% endblock %}



