{{<layout-govuk}}

{{$pageTitle}}
	Take part in GOV.UK user research
{{/pageTitle}}

{{$content}}


<main id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">User research recruitment prototype</h1>
			
			<h2 class="heading-medium">The prototype</h2>

			<p><a href="apply-1/">Grey version</a></p>

			<p><a href="apply-2/">Large version</a><p>

			<h2 class="heading-medium">Other links</h2>

			<p><a href="http://gov.uk">GOV.UK</a></p>

		</div>
	</div>



</main>

{{/content}}

{{/layout-govuk}}
