{{<templates/layout-cabinet-office}}

{{$pageTitle}}
	GOV.UK prototype
{{/pageTitle}}

{{$content}}


<main id="content" role="main">

			<h1 class="heading-xlarge">
				User research prototypes
			</h1>

			<dl class="prototype-meta">
				<dt>Service:</dt>
				<dd>Apply for the GOV.UK research panel</dd>
				<dt>Author:</dt>
				<dd>Government Digital Service</dd>
				<dt>Updated:</dt>
				<dd>10 June 2015</dd>
			</dl>


			<h2 class="heading-medium">The prototypes</h2>


			<table class="prototype-list">
				<tr>
					<th class="title"></th>
					<th class="date"></th>
					<th class="notes"></th>
				</tr>
        <tr>
          <td><a href="version-4/">Prototype 4</a></td>
          <td>Not yet tested</td>
          <td>
            <details>
              <summary>View notes</summary>
              <ul class="list-bullet">
                <li>New set of questions</li>
              </ul>
            </details>
          </td>
        </tr>
				<tr>
					<td><a href="version-3/">Prototype 3</a></td>
					<td>Tested – date?</td>
					<td>
						<details>
							<summary>View notes</summary>
							<ul class="list-bullet">
								<li>Large radios and checkboxes</li>
								<li>Fewer questions</li>
								<li>Users asked to chose preferred contact method</li>
							</ul>
						</details>
					</td>
				</tr>
				<tr>
					<td><a href="version-2/">Prototype 2</a></td>
					<td>Tested 9 June 2015</td>
					<td>
						<details>
							<summary>View notes</summary>
							<ul class="list-bullet">
								<li>Large radios and checkboxes</li>
							</ul>
						</details>
					</td>
				</tr>
				<tr>
					<td><a href="version-1/">Prototype 1</a></td>
					<td>Tested 9 June 2015</td>
					<td>
						<details>
							<summary>View notes</summary>
							<ul class="list-bullet">
								<li>Grey form labels</li>
							</ul>
						</details>
					</td>
				</tr>
			</table>

			<p><p>

			<h2 class="heading-medium">Other links</h2>

			<p><a href="http://gov.uk">GOV.UK</a></p>


</main>

{{/content}}

{{/templates/layout-cabinet-office}}
