{{<templates/layout-cabinet-office}}

{{$pageTitle}}
	GOV.UK prototype
{{/pageTitle}}

{{$content}}


<main id="content" role="main">

			<h1 class="heading-xlarge">
				GOV.UK prototypes
			</h1>

			<p class="text">
				These prototypes are by the Government Digital Service.
				They are for research purposes only and are not an actual government service.
			</p>

			<dl class="prototype-meta font-xsmall">
				<dt>Service:</dt>
				<dd>Apply for the GOV.UK research panel</dd>
				<dt>Author:</dt>
				<dd>Government Digital Service</dd>
				<dt>Updated:</dt>
				<dd>10 June 2015</dd>
			</dl>
			
			<h2 class="heading-medium">Prototypes</h2>

			<table>
				<tr>
					<th>Prototype</th>
					<th></th>
					<th>Tested</th>
				</tr>
				<tr>
					<td><a href="version-3/">Version 3</a></td>
					<td>Fewer questions</td>
					<td>Not tested</td>
				</tr>
				<tr>
					<td><a href="version-2/">Version 2</a></td>
					<td>Large form controls</td>
					<td>Tested 9 June 2015</td>
				</tr>
				<tr>
					<td><a href="version-1/">Version 1</a></td>
					<td>Grey form labels</td>
					<td>Tested 9 June 2015</td>
				</tr>
			</table>

			<p><p>

			<h2 class="heading-medium">Other links</h2>

			<p><a href="http://gov.uk">GOV.UK</a></p>


</main>

{{/content}}

{{/templates/layout-cabinet-office}}
