{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
{{/propositionHeader}}

{{$headerClass}}{{/headerClass}}

{{$content}}

<main id="content" role="main">

	<a class="back-to-previous" href="{{$prevURL}}{{/prevURL}}">Back <span class="visuallyhidden"> to the previous question</span></a>

	<h1 class="heading-large">{{$pageTitle}}{{/pageTitle}}</h1>

		<form action="" method="get" class="form">

		{{$questionContent}}
		{{/questionContent}}		

	    <div class="form-group">
	      <a class="button" href="{{$nextURL}}{{/nextURL}}">Continue</a>
	    </div>

	</form>

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}
{{/bodyEnd}}


{{/govuk_template}}
