{{<layout}}

{{$pageTitle}}
	Take part in GOV.UK user research
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Take part in GOV.UK user research</h1>

	<div class="text">
		<p>If you’d like to help us improve GOV.UK and the services we provide, <a href="apply">apply to join our user research panel</a>. </p>

		<p>As a panel participant, you’ll play an important part in helping us deliver services that work for the people who need them. </p>

		<p>We’ll contact you no more than once a month to ask you to take part in research and your participation is always voluntary.</p>

		<p><a href="more">Find out more about what's involved</a><p>
	</div>

</main>

{{/content}}

{{/layout}}
